.footer__container{
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b52a18;
    p{
        color: #ffffff;
        font-family: Inter;
    }
}